
.comment-form{
    font-size:.875em;
    padding:.25em;
    margin:.5em;
    &.reply{
        margin-left: 1em;
        padding-left:1em;
        border-left: 2px solid rgba(128, 128, 128, 0.345);
    }
}

.comment-like-icon{
    cursor: pointer;
    color:#7b7b7b;
    &:hover { color:darken(#7b7b7b, 10%); }

    // transition: all .15s ease-out;
    &.liked{
        color:rgb(255, 20, 78);
        &:hover{
        color:darken(rgb(255, 20, 78), 10%);
        }
    }
}
  

.comment.me{ 
border: 2px solid $secondary !important;
    .username{
        color: $secondary !important;
        font-weight:bold;
    }
}
