 

.ql-container.ql-snow{
  // font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  

}

.quill {
  position:relative;
  * {
    font-family: inherit;
  }
}

.ql-toolbar.ql-snow {
  display:none;
  position:absolute;
  right:0;
  flex-direction:column;
  transform:translate(150%,-50%);
  top:55%;
  background:white;
  box-shadow: 0 0 4px 1px rgb(166, 166, 166);
  .ql-formats{
    display:flex;
    flex-direction:column;
    margin-right:0 !important;
    margin:.25em auto;
    button{
      font-size:1.25em;
      margin: .25em 0;
      padding:0;
    }
  }

  transition:height .5s ease-out;
}

.quill:focus-within {
  .ql-toolbar.ql-snow{ 
    display:flex;
  }
}

.ql-editor{
  line-height: inherit;
  font-size:inherit; 
  font-family:inherit !important;
}


.hidden-input{
  display:none;
}



.offscreen{ 
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}