:root {
  background-color: $accent;
  font-size:.90em;  
  .container-fluid{
    background-color: $accent;
    color: $primary;
  }
}

.simple-button{
  appearance:none;
  outline:none;
  border:none;
  cursor:pointer;
  background:none;
  font-family:inherit;
  font-size:1.0em;
  margin:0;
  padding:.25em 0em;
  &:hover{
      color:$accent;
  }
  font-weight:unset;
}
