.recipe-toolbar{
    position:fixed;
    right:1em;
    top: 5em;
    z-index:2;
}
.icon-button{
    display:block;
    position:relative;
    svg{
        font-size:1.25em;
        @include center-xy()
    }
    &.round{
        border-radius:100%;
    }
    &.inactive{
        opacity:.5;
        background: gray;
        cursor: default;
        
    }
}

.recipe-thumbnail{
     height:260px;
     width:100%;
    img{
        object-fit:cover;
        width:100%;
        height: 70%;
    }
}


.recipe-header-image{
    height: 75vh;
    width: 100%;
    object-fit:cover;
}
.rating-bar{
    font-size:2em;
    display:inline;
}

.rating-star{
    // display:inline;
    color:rgb(172, 172, 172);
    cursor:pointer;

    &.highlighted {
        color:rgb(240, 195, 18);
    }
    &.static{
        cursor: default;
    }
}


.image-upload-button{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border-radius:0;
    border:none;
    background: rgba(255, 255, 255, 0.082);
    color:white;
    svg{
        opacity:.5;
        font-size:5em;
    }
    &:hover, &:active   {
        color:white;
        svg{
            opacity:1;
        }
    }
}

.ql-editor{min-height:5em;}

.category-link {
    @include button-with-background(rgb(239, 167, 147));
    &:hover{
        color:rgb(255, 255, 255);
    }
}

.search-bar{
    position:relative;
    min-width: 300px;
    
}

.search-results{
    position: absolute;
    top: 100%;
    width:100%;
    transform: translateY(10px);
    background: white;
    input[type="radio"]{
        display:none;
    }
}

.search-result{
    height:72px;
    img{
        height:50px;
        width:50px;
        object-fit: cover;
    }
    a{
        text-align:left;
    }
}


.dropdown-menu{
    // transform: translate3d(0, 37px, 0) !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

.quill{
    border:none !important;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow{
    border: none !important;
    font-family:inherit !important;
    background-color: var(--bs-body-bg) !important;
    background-clip: padding-box !important;
    // border: var(--bs-border-width) solid var(--bs-border-color) !important;
    appearance: none !important;
    border-radius: var(--bs-border-radius) !important;
    // transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;

    &:focus-within{
        
            // color: var(--bs-body-color) !important;
            // background-color: var(--bs-body-bg) !important;
            // border-color: #86b7fe !important;
            // outline: 0 !important;
            // box-shadow:0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important
    
    }
}

.rich-text-input{
    .section-title-input{
        box-shadow:none;
        border: none !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: var(--bs-border-width) solid var(--bs-border-color) !important;
        &:focus{
            border-bottom: var(--bs-border-width) solid var(--bs-border-color) !important;
        }
    }
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius) !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;

    &:focus-within{
        
        color: var(--bs-body-color) !important;
        background-color: var(--bs-body-bg) !important;
        border-color: $primary !important;
        outline: 0 !important;
        box-shadow:0 0 0 0.25rem rgba($primary, .25) !important

    }
}


.light-tooltip + .tooltip > .tooltip-inner {
    background:white !important;

}

.image-carousel{
    height: 400px;
    width:100%;
    object-fit:cover;
}

.double-image{
    display:flex;
    gap:1em;
    div{  
        height:auto;
        width:50%;
        object-fit:cover;
    }

}


.carousel-caption{
    background: rgba(7, 2, 37, 0.664);
    color:white;
    padding:1em;
    border-radius:0;
    bottom:0;
    left:0;
    right:0;
    text-align:left;
    h5{
        font-size:1.5em;
    }
}


.dragging{

}

.dragover, .tag-list-item:has(.dragover){
    background-color: lighten($primary, 20%);
}


.tooltip-inner{
    max-width: 300px;
   padding:1em;
}


.recipe-body-dropdown{
    margin: 2em 0;
    height:6px;
    width:100%;
    border-radius:10px;
    display:block;
    transition: background .15s ease-in-out;
    background: lighten($primary, 25%);
    &:has(button:hover){
            background: $primary !important;
    }
    button{
        mix-blend-mode:darken;
        border-radius:100%;
        background: lighten($primary, 25%) !important;
        &:hover{
            background: $primary !important;

        }
        border:none;
        color:black;
        background:none;
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
        height:25px;
        svg{
            position:absolute;
            transform:translate(-50%, -50%);
            top:50%;
            left:50%;
        }
    }
    .dropdown-toggle::after{
        display:none;
    }
}
