.recipes-grid{
    padding:1em;
    display: grid; 
    list-style-type: none;
    margin:auto;
    grid: {
        template-columns: repeat(4, 12em);
        auto-rows: minmax(auto, max-content);
    }
}

.recipe-category-header{
    font-size:2.5em;
    font-weight:bold;
    text-align:center;
}

.main-container{
    width: clamp(800px, 80%, 1100px);
    margin: auto;
    // border:2px solid $accent-gray;
}

form input{
    padding: .125em .375em;
    margin:.5em 0;
    outline:none;
    background-color:inherit;
    text-align:inherit;
}


.recipe-toolbar{
    position:fixed;
    right:1em;
    top: 0;
    z-index:2;
}

.icon-button{
    display:block;
    position:relative;
    color:#403d3d;
    padding:1em;
    margin: .75em 0;
    height:2.75em;
    width:2.75em;
    transition:opacity .1s ease-out;
    &:hover{
        color: $accent;
        .icon-button-tooltip{
            opacity:1;
        }
        svg{
            color:$accent;
        }
    }
    &.active{
        cursor: default;
        border: 1px solid gray;
    }
    svg{
        font-size:1.25em;
        @include center-xy()
    }

    &.round{
        border-radius:100%;
        border-radius:100%;
        background:#fff7f7c3;
        border:1px solid #403d3d;
        box-shadow: 0 0 2px 1px rgba(177, 177, 177, 0.807);
        &:hover{ border: 1px solid $accent; }
    }

    .icon-button-tooltip{
        position:absolute;
        top:50%;
        right:0;
        transform: translate(-4em, -50%);
        background: #373737;
        color:white;
        padding:.5em;
        border-radius:5px;
        font-size:.75em;
        font-weight:400;
        white-space:nowrap;
        opacity:0;
        transition: opacity .15s ease-out;
    }
}

.recipe-thumbnail{
    height:12em;
    width: 12em;
    text-align:center;
    cursor: pointer;
    margin:auto;
    a{
        color: black;
        display:block;
    }

    img{
        width: 10em;
        height: 12em;
        display:block;
        margin:auto;
        object-fit: cover;
    }

    &:hover{
        a{ color: $accent;}
    }

}

.login-button{
    text-align:right;
}


.rating-bar{
    font-size:1.375em;
    display:inline;
    
}
.rating-bar-description {
    font-size:.75em;
}
.rating-star{
    // display:inline;
    color:rgb(218, 218, 218);
    cursor:pointer;

    &.highlighted {
        color:rgb(252, 220, 59);
    }
    &.static{
        cursor: default;
    }
}

.image-selection{   
    position:fixed;
    top:10%;
    background:white;
    border:2px solid black;
    width: 40em;
    z-index:1;
    box-shadow: 0 0 10px 1px rgb(140, 140, 140);
}

.image-upload-label{
    display:block;
    text-align:center;
    padding:.375em .75em;
    font-size:1.5em;
    border:1px solid black;
    border-radius:.25em;
    background:rgb(255, 255, 255);
    cursor:pointer;
    transform:translate(-50%,-50%);
    opacity:0;

}

.header-image-container{
    position:relative;
    width:90%;
    margin: 1em auto;
    min-height:20em;
    .icon-button{
        margin:0;
        &.select-image{
            opacity:0;
            @include center-xy();
            font-size:4em;
            width:100%;
            height:100%;
            background:rgba(255, 255, 255, 0.548);
        }
        &.remove-image{
            position:absolute;
            right:0;
            top:0;
            font-size:1.5em;
            padding:0;
            z-index:1;
        }
        &.cancel{
            position:absolute;
            right:0;
            top:0;
            font-size:1.5em;
            padding:0;
            color:red;
        }
    }
    &:hover{
        .select-image{
            opacity: 1;
        }
    }
    &:hover {
        .image-upload-label, .image-remove-button{
            opacity:1;
        }
    }
    
    .header-image{
        border-radius:.25em;
        border: 1px solid rgb(65, 65, 65);
        display:block;
        margin:auto;
        max-width:100%;
        max-height:60vh;
    }
}



.image-remove-button{
    top: 0;
    right:0;
    color:rgb(161, 21, 21);
    background:none;
    border:none;
    font-size:2em;
}

.image-upload-button{
    left:0;
    opacity:1;
}

.image-preview-container{
    position:relative;
    height:80%;
    outline: 2px dashed rgb(107, 107, 107);  
    padding: .5em;
    height:20em;
    background: #eaeaea;
    box-shadow: 0 0 0 .5em #eaeaea;
    margin:1em;
    text-align:center;
    .image-preview{
        max-width:100%;
        max-height:100%;
    }
    .container{
        font-size:2.125em;
        @include center-xy();
    }

    strong{
        cursor: pointer;
        &:hover{
            color:$accent;
        }
    }
    
}


.image-upload-info{
    display:flex;
    justify-content: space-around;
}



.tag-value{
    text-transform: capitalize;
}
.recipe-container{
    .recipe-header{
        position:relative;
        .page-link{
            display:inline-block;
            @include button-with-background(#fa9fff)
        }
    }

    .recipe-tags{
        margin:1em 0;
        width:500px;
        div{ display:inline-block}
        .recipe-tag{
            text-transform: capitalize;
            font-size:.875em;
            font-style: italic;
            @include button-with-background($accent);
            cursor: pointer;
        }
    }
    
    .recipe-title{
        font-weight:bold;
        font-size:3em;
    }
    .recipe-title-id{
        width:40%;
        border-radius: 0;   
    }
    .recipe-description{
        margin:.5em auto;
    }

    .recipe-background{
        width:80%;
        margin: .25em auto;
    }
    
    .recipe-dates{
        font-size:.875em;
        font-style: italic;
        color: $font-color-light;
    }
    .recipe-card{
        background:#fcfffb;
        outline: 2px solid black;
        width: clamp(550px, 65%, 700px);
        padding: 2.5em 3em;
        margin: 1em auto;
        box-shadow: 0 0 .125rem .0625rem $accent-lightgray;
        .header{
            text-align:center;
            .recipe-card-title{
                font-weight:bold;
                font-size:2em;
            }
          
        }
    }

    ul, ol{
        padding-left:1.5em;
    }
    ul{
        list-style-type: disc;
    }
}

.recipe-ingredients.quill{margin-left:0 !important; padding:0 !important;}


.ql-editor{min-height:5em;}








.recipe-filters-toolbar{
    background: #fcfffb;
    border: 1px solid black;
    border-radius: .5em;
    padding: .5em;
    .tag-category{
        display:inline-block;
        min-width: 100px;
        margin: 0 1em;
        .header{
            font-weight:bold;
            font-size:1.125em;

        }
        .tag-select{
            display:flex;
            justify-content:space-between;
            label{
                text-transform: capitalize;
            }
        }
       
    }
}

.category-link {
    @include button-with-background(rgb(239, 167, 147));
    &:hover{
        color:rgb(255, 255, 255);
    }
}