@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$font-family-base: 'Lora', serif;

// $theme-colors: (
//   "primary": #f082bf,
//   "secondary": #97d371,
//   // "nav-link-color": #1a81d0,
//   // "nav-link-hover-color" : #1ab1e0
// );

// Colors
// $primary: #fe63b9;
// $primary-light: lighten($primary, 10%);
// $primary-dark: darken($primary, 10%);
$accent: #e5d5dd;
$primary: #093824;
// $success: rgb(113, 154, 0);
$secondary: #51344D;
$secondary-light: lighten($secondary, 30%);
$light: white;
$body-color: $primary;
$danger: #dc3545;
$success: #188f33;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'accent': $accent,
    'light' : $light,
    'danger' : $danger,
    'success' : $success,
  ),
  $theme-colors
);


// $accent-light: lighten($accent, 10%); 
// $accent-dark: darken($accent, 10%);
// $font-color: #313131;
// $font-color-light: #a0a0a0;
// $app-sidebar-color: #2d2d2d;
// $note-sidebar-color: #e5e5e5;
// $light-theme-background: #f5f5f5;
// $accent-gray: #545454;
// $accent-lightgray: lighten($accent-gray, 12%);
// $dimmer-background: rgba(0, 0, 0, 0.6);
// $error: #f2777a;



$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'accent': #e5d5dd,
    'light' : #ffffff
  ),
  $theme-colors
);